@tailwind base;
@tailwind components;
@tailwind utilities;

.star-background {
    top: 0;
    left: 0;
    height: 100%;
    background: black;
    overflow: hidden;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: stars 10s infinite ease-in-out;
  }
  
  @keyframes stars {
    0%, 100% {
      transform: translateY(80%) scale(1);
    }
    50% {
      transform: translateX(-10vh) scale(1);
    }
  }
