#p-title {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 8rem;
    margin: 0 auto;
    font-family: "Courier New";
    border-right: 3px solid #f7f9fa;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  